include header.pug

block content
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h1 class="panel-title">Edit Password Details</h1>
                    </div>
                    <div class="card-body">
                        <form  action="/password-details/edit/#{record._id}"id="passwordForm"class="form-horizantal"method="post"role="form">
                            if success!=''
                                <p id="signupalert" class="alert alert-success"style ="text-align:center;">#{success}</p>
                            if errors!=''
                                <p id="signupalert" class="alert alert-danger"style ="text-align:center;">#{errors}</p>
                            <div class="form-group">
                                <label for="username"class="col-md-3 control-label"style="display:inline;font-size:20px">Password Details</label>
                                <div class="col-md-9"style="margin-top:13px;">
                                    <select name="pass_cat" id="" class="form-control">
                                        <option value="#{record.password_category}">#{record.password_category}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username"class="col-md-3 control-label"style="display:inline;font-size:20px">Project Details</label>
                                <div class="col-md-9"style="margin-top:13px;">
                                    <input type="text-box" class="form-control"name="new_project_name"placeholder="Enter New Project Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username"class="col-md-3 control-label"style="display:inline;font-size:20px">Password Details</label>
                                <div class="col-md-9"style="margin-top:13px;">
                                    <textarea type="text"rows="3"col="15"class="form-control"id="editor"name="new_pass_details"placeholder="Enter Your New Passsord Details"></textarea>
                                </div>
                            </div>

                            <input type="hidden"name="id"value="#{record._id}">

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn btn-primary" value="Update Password" name="submit"placeholder="Enter Your Password">
                                </div>
                            </div>
                            <p style="margin-left:10px"><a href="/ViewAllPasswords">View All Passwords Lists</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
include footer.pug


