include header.pug

block content

    <div class="container"style="margin-top:0px">
            <h1 >View Password List</h1>
            <br>
            <div id="table-box">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Password Category Name</th>
                            <th>Project Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        if records.length>0
                            each user in records
                                <tr>
                                    <td>#{user.password_category}</td>
                                    <td>#{user.project_name}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/view/#{user._id}"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-primary btn-sm" href="/password-details/edit/#{user._id}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" href="/password-details/delete/#{user._id}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                               
                        else 
                            <tr> 
                                <td>(colspan="3") No Record Found</td>
                            </tr>
                    </tbody>
                </table>
            </div>

            <p style="margin-left:10px"><a href="/joinResult">View Combined Result (Password Details With Password Category)</a></p>
    </div>

include footer.pug